<div class="container">
<ul class="collection with-header">
        <li class="collection-item">
          <div> <span class="fontSize17">All Toys</span>
            <%= link_to new_toy_path(@toy) do %>
              <i class="material-icons amber-text text-darken-1 secondary-content">
                library_add
              </i>
            <% end %>
          </div>
        </li>
    <% @toys.each do |t|%>
    <li class="collection-item avatar">
      <img src="<%= t.toy_image %>" alt="" class="circle">
      <span class="title"><%= link_to t.name, toy_path(t)%></span>
      <p class="secondary-content">
				<%= t.age_group.age %>
      </p>
    </li>
	<% end %>
</ul>

<h3>Import Toys</h3>
<%= form_tag import_toys_path, multipart: true do %>
  <%= file_field_tag :file%>
  <%= submit_tag "Upload Toys" %>
<% end %>
</div>