<%= form_for @status do |s| %>
  <% if s.object.errors.any?%>
    <div class="col xs12 s12">
      <% s.object.errors.full_messages.each do |x|%>
        <p>Error: <%= x %></p>
        <p>User was not saved </p>
      <% end %>
    </div>
  <% end %>


  <div class="input-field col s12 m10 offset-m1">
    <div><%= s.label :category %></div>
    <div><%= s.text_field :category %></div>
  </div>

  <div class="input-field col s12 m10 offset-m1">
    <div><%= s.label :color %></div>
    <div><%= s.text_field :color %></div>
  </div>



  <div class="col sm10 offset-m1">
    <span class="waves-effect right waves-light newPackBtn btn amber lighten-1">
      <%= s.submit %>
    </span>
  </div>

<% end %>