<%= form_for @status do |s| %>
  <% if s.object.errors.any?%>
    <div class="col xs12 s12">
      <% s.object.errors.full_messages.each do |x|%>
        <p>Error: <%= x %></p>
        <p>User was not saved </p>
      <% end %>
    </div>
  <% end %>


  <!-- DROPDOWN PICK A USER -->
  <div class="input-field col s12 m10 offset-m1">
    <div><%= s.label :user_id %></div>
    <select class="icons" id="user" name="box[user_id]">
      <option value="" disabled selected>Select User</option>
      <% @users.each do |u| %>
        <option value="<%= u.id %>"><%= u.name %></option>
      <% end %>
    </select>
  </div>


  <!-- DROPDOWN PICK A STATUS -->
  <div class="input-field col s12 m10 offset-m1">
    <div><%= s.label :status_id %></div>
    <select class="icons" id="status" name="box[status_id]">
      <option value="" disabled selected>Select Status</option>
      <% @statuses.each do |s| %>
        <option value="<%= s.id %>"><%= s.category %></option>
      <% end %>
    </select>
  </div>


  <div>
    <%= s.submit %>
  </div>

<% end %>