<div class="container">

	<div class ="<%= @age_group.color %> largeLabel">
		<div class="row">
			<span class="col s12  center-align boxText">
				<h1 class= "col s4"><%= @box.name %></h1>
				<h5 class=" col s8 lineHeight12 center-align"><%= @age_group.age %><br>
				<span class="fontxs">15 pieces</span></h5>
			</span>
			<div class="col s12 inlineBlock largeToySection">
				<% if @toy.box_id %>
					<% @toys.where(box_id:@box.id).find_each do |t|%>
						<div class="inlineBlock height130px white col s6 largeToyRow center">
							<img src="<%= t.toy_image %>" alt="" class="responsive-img">
							<p class="font12 margin0"><%= t.name %><br>
								<span class="font10"> <%= t.pieces %> Pieces </span>
							</p>
						</div>
						<% end %>
					<% end %>`
				</div>
		</div>
	</div>
</div>