<h1>LARGE LABELS</h1>
            
      <div class="row">
        <div class="col s12 m8 offset-m2">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title white-text"><%= @box.name %>- </span>
              <span class="white-text fontSize17">Total Number of Pieces</span>
							<ul class="collection">
								  <% if @toy.box_id %>
							  		<% @toys.where(box_id:@box.id).find_each do |t|%>
								    <li class="collection-item avatar">
								      <img src="<%= t.toy_image %>" alt="" class="circle">
								      <span class="title"><%= t.name %></span><br>
											<span class="fontSize12"><%= t.pieces %> pieces</span>
								    </li>
								    <% end %>
								  <% end %>
								</ul>
            </div>
            <div class="card-action">
              <%= link_to edit_box_path(@box) do %>
								<i class="fa fa-pencil-square-o fa-2x left white-text" aria-hidden="true"></i>
							<% end %>
							<span class="left"><%= @status.category %></span>
							<%= link_to box_path(@box), method: :delete do %>
								<i class="fa fa-trash fa-2x right white-text" aria-hidden="true"></i>
							<% end %>
            </div>
          </div>
        </div>
      </div>
