
	<div class ="row yellow medLabel">
		<span class="col s3 center">
			<h2><%= @box.name %></h2>
			<h5><%= @age_group.age %></h5>
			<h5 class="">15 pieces</h5>
		</span>
		<div class="col s8 inlineBlock medSectionToys white">
			<% if @toy.box_id %>
				<% @toys.where(box_id:@box.id).find_each do |t|%>
				<div class="inlineBlock col s6 blackBorder center">
					<img src="<%= t.toy_image %>" alt="" class="img150x150">
					<p class="height42 margin0"><%= t.name %> - <span class="borderTopBlack"><%= t.pieces %> pieces</span></p>
				</div>
				<% end %>
			<% end %>
		</div>
	</div>
