
	<div class ="<%= @age_group.color %> medLabel">
		<div class="row">
			<span class="col s3  center-align boxText">
				<h4><%= @box.name %></h4>
				<p class="lineHeight12 center-align"><%= @age_group.age %><br>
				<span class="fontxs">15 pieces</span></p>
			</span>
			<div class="col s9 inlineBlock medToySection">
				<% if @toy.box_id %>
					<% @toys.where(box_id:@box.id).find_each do |t|%>
						<div class="inlineBlock height102px white col s6 medToyRow center">
							<img src="<%= t.toy_image %>" alt="" class="responsive-img">
							<p class="fontxs margin0"><%= t.name %> (<%= t.pieces %>)
							</p>
						</div>
						<% end %>
					<% end %>`
				</div>
		</div>
	</div>
